* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #3e3c3c;
  padding: 0.7rem;
  width: 100%;
}

body {
  background-color: #1c1a19;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  color: #f55800;
  width: 300px;
  line-height: 1em;
}

h4 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  color: #fff;
  line-height: 3em;
}

p {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  width: auto;
  letter-spacing: 0.01rem;
}

.name {
  padding-right: 1rem;
}

.na {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  font-family: 'poppins', sans-serif;
}

.na a {
  color: #fff;
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
  line-height: 5px;
  text-decoration: none;
  font-weight: 500;
}

.na li {
  margin-left: 1rem;
  list-style-type: none;
}

.icons {
  padding-left: 0.5rem;
  list-style-type: none;
  display: flex;
  margin-top: 1rem;
}

.icons li {
  padding-right: 1.2rem;
}

.ham img {
  margin-right: 1rem;
}

.image {
  position: absolute;
  bottom: 3.5rem;
  right: 0;
}

#headlines {
  display: flex;
  flex-direction: column;
  background-image: url(image/illustration-header-mobile.png);
  background-position: right 10.5em;
  background-repeat: no-repeat;
  background-size: 8em;
  height: 37em;
  padding: 5rem 2.5rem 0.5rem 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  width: 20rem;
}

 .line {
  width: 16rem;
  margin-left: 2rem;
}

.picture {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}

.picture img {
  width: auto;
  height: 100%;
  ;
}

.picturegirl h2 {
  font-weight: 500;
  font-size: 30px;
  margin-left: 1.5rem;
  padding-top: 1.2rem;
}

.picturegirl p {
  margin-left: 1.5rem;
  width: 17.3rem;
  margin-top: 0.8rem;
}

.picture-list {
  display: flex;
  list-style: none;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.picture-list li {
  padding-right: 1rem;
  border: 1px solid rgb(126, 126, 126);
  margin-right: 0.5rem;
  padding: 0.4rem;
  
}

.bu {
  padding: 0.7rem;
  border: 1px solid rgb(112, 107, 107);
  background-color:  #f55800;
  color: #fff;
  font-size: large;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.picture-group1 img {
  max-width: 100%;
  height: auto;
}

.picture-group1 {
  position: relative;
}

.group2 {
  position: absolute;
  top: 24%;
  color: #fff;
  width: 15rem;
  margin-left: 1rem;
}

.group2 h3 {
  text-transform: capitalize;
  line-height: 2rem;
}


.picture-list1 {
  list-style-type: none;
  display: flex;
  padding: 5rem, 10rem;
}

.picture-list1 li {
  border: 1px solid rgb(112, 107, 107);
  margin-right: 1rem;
  padding: 5px 7px;
  background-color: rgb(170, 161, 161);
}

.picture-group1 p {
  line-height: 1.5rem;
  margin-top: 2rem;
}

button {
  margin-top: 3.5rem;
  border: 1px solid rgb(247, 171, 32);
  color: #fff;
  background-color: rgb(253, 167, 8);
}

.grid-container {
  margin-left: 1rem;
}

.about h2 {
  text-align: center;
  color: #f55800;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.about p {
  margin-left: 1rem;
  width: 17rem;
  ;
}

.about button {
  color: #fff;
  background-color: #f55800;
  padding: 10px 10px;
  margin-left: 3rem;
}
/* img here */
/* start of language skills */
.lang {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.lang1 li {
  list-style-type: none;
  padding-bottom: 0.7rem;
}

.lang1 .triangle{
  list-style-type: square;
  font-weight: 600;
  font-size: 1.5rem;
}

.lang1 .square {
  list-style-type: square;
  font-weight: 600;
  font-size: 1.5rem;
}

.lang1 .disc {
  list-style-type: disc;
  font-weight: 600;
  font-size: 1.5rem
}

.intouch {
  display: flex;
  flex-direction: column;
}

.intouch1 {
  font-weight: 600;
  font-size: 1.5rem;
  width: 220px;
  margin-top: 4rem;
}

.emai6 {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  
}

.email3 {
  margin-top: 5px;
}

.email1 {
  padding-right: 2rem;
}

.email7 {
  display: flex;
  flex-direction: column;
}

.email7 button {
  color: #fff;
  background-color: #f55800;
  padding: 10px 10px;
  margin-left: 3rem;
  width: 8rem;
}

input {
  width: 9rem;
  margin-left: 3rem;
}

.about img {
  position: absolute;
  bottom: 20px;
  right: 0;
}

