* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #3e3c3c;
  padding-top: 15px;
  padding-bottom: 15px;
}

.name2 {
  display: flex;
}

body {
  background-color: #1c1a19;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 4rem;
  color: #f55800;
  width: 400px;
  margin-left: 2rem;
  margin-top: 110px;
}

h4 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #fff;
  margin-left: 2rem;
  padding-bottom: 0.5rem;
}

p {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  width: 320px;
  margin-left: 2rem;
  letter-spacing: 0.01rem;
}

.na {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  font-family: 'poppins', sans-serif;
}

.na a {
  color: #fff;
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
  line-height: 5px;
  padding-right: 25px;
  text-decoration: none;
  font-weight: 500;
}

.name1 {
  margin-right: 8rem;
}

.na li {
  margin-left: 2rem;
  list-style-type: none
}

.icons {
  margin-left: 3rem;
  list-style-type: none;
  display: flex;
  margin-top: 1.5rem;
}

.icons li {
  padding-right: 1.2rem;
}

.content-image img {
  width: 30%;
  position: absolute;
  top: 3.3rem;
  left: 56rem;
}

.name1 img {
  position: absolute;
  left: 27rem;
}

.image {
  position: absolute;
  bottom: 0.1rem;
  right: 0;
}