* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 590px;
  padding: 0;
  margin: auto;
}

.app-bar {
  background: #3c3a39;
  display: flex;
  flex: content;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  width: 100%;
}

.app-bar > .myName {
  font-family: 'Roboto', 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  text-decoration: none;
  color: #fff;
  animation-name: logo;
  animation-duration: 4s;
}

@keyframes logo {
  0% {
    transform: rotate(-360deg);
  }
}

nav {
  display: flex;
  flex: content;
  flex-direction: row;
  justify-content: end;
}

.nav-items {
  display: none;
  font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-size: 0.9375em;
  line-height: 1.25em;
}

.menu-shown {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  background: #3c3a39;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 10vw;
  top: 0;
  left: 0;
  z-index: 1;
}

.mail-btn {
  display: none;
}

.menu-shown > a {
  text-decoration: none;
  margin: 10px;
  font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
}

.line-separation {
  height: 1px;
  background-color: #6f6c6b;
  width: 90%;
}

.menu {
  margin-right: 20px;
}

#menu-button {
  background: none;
  font-size: 2rem;
}

.close-btn {
  display: none;
  font-size: 2rem;
  color: #67798e;
  margin-right: 38px;
  z-index: 3;
  background: none;
}

.main-mobile {
  margin: auto;
  width: 100%;
  background: url('../img/illustration-header-mobile.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 2.1em;
  background-color: #1c1a19;
  color: #f4f5f7;
  height: 39.975em;
}

.main-mobile h1 {
  font-family: "Crete Round", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 3.01em;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.main-mobile h2 {
  width: 100%;
  font-family: "Poppins", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  display: flex;
  align-items: center;
  color: #fff5e1;
  font-size: 1.3em;
  line-height: 22px;
}

#primary-text-des {
  width: 100%;
  height: 123px;
  font-family: "Poppins", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.99em;
  line-height: 1.5em;
}

.social-icons {
  display: flex;
  flex: content;
  padding: 0;
  width: 12.5em;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  gap: 0.3125em;
}

ul li {
  list-style-type: none;
}

li:hover {
  background: #f55800;
}

.social-icons li:hover {
  background-color: #ff6b00;
}

.my-works {
  margin-top: 100px;
}

.my-recent-works {
  padding-top: 40px;
  background-color: #fff;
}

.my-recent-works-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-recent-work-title-h1 {
  font-family: "Crete Round", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.6rem;
  padding-left: 20px;
  padding-right: 20px;
}

.my-recent-work-title-hr {
  width: 80%;
  margin: auto;
}

.featured-image {
  width: 100%;
  padding: 20px;
}

.featured-image:hover {
  transform: scale(1.02);
}

.multi-post-stories {
  padding-top: 0;
  width: 90%;
  margin: auto;
}

.multi-post-stories h2 {
  font-family: "Crete Round", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 2.75em;
  margin: auto;
}

.multi-post-stories p {
  font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

.multi-post-stories ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 0;
  padding-left: 0;
  margin-top: 2px;
  gap: 15px;
  font-size: 20px;
  flex-wrap: wrap;
}

.multi-post-stories ul li:hover {
  background-color: #ff6b00;
  border: solid 2px cornsilk;
}

button {
  color: #fff;
  background: #ff6b00;
  height: 48px;
  border: 0;
}

form div > button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 8.86em;
  padding: 15px;
  font-weight: 600;
  margin: auto;
}

.multi-post-stories > button {
  width: 161px;
  height: 60px;
  font-size: 20px;
}

.main-project {
  min-width: 100vw;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #fff;
}

p img {
  height: 25px;
  width: 25px;
}

.project-image {
  overflow: hidden;
  width: 100%;
  height: 30vh;
  border-radius: 8px;
  background-size: auto;
  background-position: center;
}

.project-image > img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.projectCard {
  height: 635px;
  display: flex;
  flex-direction: column;
  padding-top: 250px;
}

.card-project {
  height: 635px;
  display: flex;
  max-width: 90vw;
  flex-direction: column;
  padding-top: 250px;
  background-image: url('../img/bg-image2.jpg');
  background-size: cover;
}

.description {
  font-family: "Inter", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  margin: 20px;
  font-size: 1.3rem;
}

.title {
  font-family: "Crete Round", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  margin: 10px 20px;
  font-size: 1.99rem;
}

.tags {
  margin: 20px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  height: 45px;
  gap: 15px;
  flex-wrap: wrap;
}

.li {
  border: 2px solid rgb(99, 96, 96);
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  line-height: 20px;
  font-size: 16px;
}

.btn-sp {
  width: 100%;
  margin: auto;
  height: 65px;
  font-size: 25px;
}

.scale-effect:hover {
  transform: scale(1.02);
}

.project-description ul > li:hover {
  background-color: #c2c4c4;
  color: #fff;
  cursor: pointer;
}

.project-description > .btn {
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  background-color: #32b37e;
  color: white;
  margin: 15px 0 25px 0;
  transition: all 0.3s;
}

.popup-project {
  position: fixed;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  background-color: rgb(186, 186, 186, 0.3);
  width: 100vw;
}

.popup-header .tags {
  gap: 3px;
  margin-right: 60px;
  margin-left: 0%;
}

.popup-title {
  display: flex;
}

.popup-title .close-btn {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  margin-left: 0;
  width: 20%;
}

.popup-project img {
  display: flex;
}

.popup-project h1 {
  display: flex;
  margin: auto;
  font-family: "Roboto", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  color: #172b4d;
  width: 80%;
}

.popup-project p {
  display: flex;
  margin-top: 20px;
  padding-right: 31px;
}

.popup-footer > div {
  display: flex;
}

.popup-button {
  display: flex;
  width: 50%;
}

.popup-project > .popup-button {
  display: flex;
  gap: 28px;
  width: 100%;
  align-items: center;
  font-family: "Inter", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-right: 25px;
  padding-left: 10px;
}

.popup-container {
  margin: auto;
  background-color: white;
  max-width: 90vw;
  padding: 1rem;
  min-height: 95vh;
  color: #000;
}

.about {
  background: #1c1a19;
  color: #fff;
  margin-top: 150px;
  height: 1950px;
}

button:hover {
  background-color: #172b4d;
}

.about-me {
  height: 800px;
  background: url('../img/about-me-illustration.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 30px;
}

.about-me h1 {
  font-family: "Crete Round", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.2em;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 24px;
  padding-top: 100px;
  text-align: center;
}

.about-me p {
  font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  line-height: 29px;
  font-size: 0.9881em;
  padding-bottom: 30px;
  text-align: left;
}

.about-me button {
  width: 161px;
}

.about-me-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: auto;
  background: #1c1a19;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-me-2 {
  padding-top: 70px;
}

.about-me-2 p {
  font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  color: #172b4d;
  margin: auto;
  padding: 30px;
}

.skill-rule {
  margin: auto;
  width: 90%;
  margin-top: 20px;
}

.skill-section {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-a-title {
  font-family: "Inaimathi", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 42px;
  align-items: baseline;
}

.skill-a ul {
  font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 35px;
  margin: 0;
  padding: 0;
  padding-left: 0;
  width: 300px;
  line-height: 15px;
}

.skills-title img {
  margin: auto;
  box-sizing: border-box;
  width: 1.125em;
  height: 1.125em;
  padding-right: 2px;
}

form {
  width: 100%;
  padding: 50px;
  font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
}

input {
  border: 0;
}

form input {
  width: 100%;
  border-bottom: solid 1px grey;
  margin-bottom: 35px;
  height: 70px;
  padding: 13px;
}

form input:hover {
  transform: translate(10px);
}

textarea {
  width: 100%;
  background-color: antiquewhite;
  border: 0;
  margin-bottom: 30px;
}

textarea:hover {
  transform: translate(10px);
}

.success {
  font-size: 1em;
  color: #06d206;
  font-family: monospace;
  letter-spacing: 3.5px;
  font-weight: bolder;
}

.error {
  font-size: 1em;
  color: #d83030;
  font-family: monospace;
  letter-spacing: 3px;
  font-weight: bolder;
}

.button {
  margin-bottom: 80px;
}

footer {
  display: grid;
  grid-template-rows: auto;
  align-content: center;
  justify-items: center;
}

.footer-rule {
  border-bottom: solid rgb(3, 1, 0) 4px;
  width: 40%;
  margin: auto;
  margin-bottom: 4px;
  align-items: center;
}

@media only screen and (min-width: 786px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }

  .app-bar {
    width: 100%;
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
  }

  .app-bar > .myName {
    padding-left: 100px;
    text-decoration: none;
    color: #fff;
    animation-name: logo;
    animation-duration: 4s;
    font-size: 20px;
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
  }

  .app-bar a {
    padding-left: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }

  .nav-items {
    display: flex;
    font-size: 24px;
    margin-right: 100px;
  }

  .lign-separation {
    display: none;
  }

  .nav-items a {
    gap: 5px;
    padding-left: 50px;
  }

  .mail-btn {
    visibility: visible;
  }

  .menu {
    display: none;
  }

  .main-mobile {
    display: flex;
    flex-wrap: wrap;
    background: url('../img/Group.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #1c1a19;
    color: #f4f5f7;
    height: 970px;
  }

  .main-mobile div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 39.375em;
    margin-left: 7.5em;
  }

  .main-mobile h1 {
    display: flex;
    flex-wrap: wrap;
    font-family: "Crete Round", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5.5vw;
    color: #ff6b00;
  }

  .main-mobile h2 {
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6vw;
  }

  #primary-text-des {
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.9vw;
  }

  .social-icons-container ul {
    position: absolute;
    top: 18.75em;
    left: 2.1em;
    display: block;
    justify-content: space-around;
  }

  li:hover {
    background: #f55800;
  }

  .social-icons-container ul li {
    margin: 32px;
  }

  .my-works {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .my-recent-works-title {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .my-recent-work-title-h1 {
    font-family: "Crete Round", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.6rem;
    padding: 0;
  }

  .hr-a {
    display: none;
  }

  .my-recent-work-title-hr {
    border: 1px solid black;
    width: 73%;
  }

  .my-recent-works {
    display: flex;
    padding: 0;
    margin: 0;
    width: 80%;
    margin-bottom: 20px;
  }

  .featured-image {
    padding: 0;
    width: 65%;
    height: auto;
  }

  .multi-post-stories {
    margin-left: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    overflow-x: hidden;
    margin-top: 0;
  }

  .multi-post-stories h2 {
    font-family: "Crete Round", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 52px;
    padding: 0;
    margin: 0;
  }

  .multi-post-stories p {
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #091e42;
  }

  .multi-post-stories ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-top: 2px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .multi-post-stories ul li {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    justify-items: left;
    align-content: flex-end;
  }

  button {
    width: auto;
  }

  form div > button {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 20px;
    padding: 15px;
    font-weight: 600;
  }

  .multi-post-stories > button {
    width: 140px;
    height: 40px;
    font-size: 20px;
  }

  .main-project {
    padding-bottom: 100px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    color: #fff;
  }

  .card-project {
    height: 635px;
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    background-image: url('../img/bg-image2.jpg');
    background-size: cover;
  }

  .card-project:hover {
    height: 100%;
    background-image: url('../img/bg-image-clear.png');
    background-size: cover;
    color: black;
  }

  .btn-sp {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    height: 65px;
    font-size: 25px;
    display: none;
  }

  .card-project:hover .btn-sp {
    flex-direction: row;
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: 65px;
    font-size: 25px;
  }

  .card-project:hover,
  .btn-sp-2 {
    flex-direction: row;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    height: 65px;
    font-size: 25px;
    display: block;
  }

  .card-project-1 {
    height: 635px;
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    background-image: url('../img/bg-image-clear.png');
    background-size: cover;
  }

  .card-project-2 {
    padding-top: 20.8em;
    display: flex;
    flex-direction: column;
    background-image: url('../img/bg-image2.jpg');
    background-size: cover;
  }

  .card-project-3 {
    padding-top: 23.9em;
    display: flex;
    flex-direction: column;
    background-image: url('../img/bg-image3.jpg');
    background-size: cover;
  }

  .card-project-4 {
    padding-top: 20.8em;
    display: flex;
    flex-direction: column;
    background-image: url('../img/bg-image4.png');
    background-size: cover;
  }

  .card-project-5 {
    padding-top: 20.8em;
    display: flex;
    flex-direction: column;
    background-image: url('../img/bg-image2.jpg');
    background-size: cover;
  }

  .card-project-6 {
    padding-top: 23.9em;
    display: flex;
    flex-direction: column;
    background-image: url('../img/bg-image3.jpg');
    background-size: cover;
  }

  .title {
    font-family: "Crete Round", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 2.8rem;
    font-size: 2.5vw;
  }

  .description {
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 1.15vw;
    line-height: 1.49vw;
  }

  .tags {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: inherit;
  }

  .li {
    border: 1px solid rgb(80, 77, 77);
    padding: 10px;
  }

  .scale-effect:hover {
    transform: scale(1.02);
  }

  .about {
    height: auto;
    background: #000;
    color: #fff;
    width: 100%;
    margin: auto;
  }

  .about-me {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    background-image: url('../img/about-me-desktop.png');
    background-repeat: no-repeat;
    background-position: center right;
    margin-bottom: 10vw;
  }

  .about-me-intro {
    width: 50%;
    margin-left: 9vw;
    margin-top: 8vw;
  }

  .about-me-intro h1 {
    font-family: "Crete Round", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    font-weight: 400;
    font-size: 5.1vw;
    line-height: 8.2vw;
  }

  .about-me-intro p {
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.7vw;
    line-height: 3.1vw;
    margin-bottom: 30px;
  }

  .about-me-intro > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px;
    gap: 10px;
    width: 171px;
    height: 48px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .about-me-skill {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    justify-content: center;
    justify-items: center;
  }

  .skill-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    align-items: start;
    justify-content: flex-start;
  }

  .skill-rule {
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .skill-section {
    height: 500px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .skill-a-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 42px;
    align-items: baseline;
  }

  p img {
    height: 25px;
    width: 25px;
  }

  .skill-a ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    margin: 0;
    padding: 0;
    padding-left: 0;
    width: 300px;
    line-height: 15px;
  }

  .skill-a ul li {
    font-size: 22px;
  }

  .skills-title {
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    display: flex;
    justify-items: left;
    margin: auto;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 50px;
  }

  .skills-title img {
    margin: auto;
    box-sizing: border-box;
    width: 1.125em;
    height: 1.125em;
    padding-right: 2px;
  }

  .about-me-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .about-me-2 p {
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    display: flex;
    width: 40%;
    color: #262626;
    font-size: 2.4em;
    font-weight: 700;
    line-height: 53px;
    text-align: left;
    margin-top: 0;
  }

  .get-in-touch {
    width: 70%;
  }

  form {
    padding-left: 0;
    padding-top: 0;
  }

  input,
  textarea {
    width: 100%;
  }

  .footer-rule {
    display: none;
  }

  .align-left button {
    font-size: 1.0625em;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.03em;
    text-align: left;
    width: 8.86em;
  }

  .success {
    font-size: 1em;
    color: #06d206;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3.5px;
    font-weight: bolder;
  }

  .error {
    font-size: 1em;
    color: #d83030;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
  }

  .footer-rule-1 {
    background: #000;
    width: 100%;
  }

  .footer-rule-2 {
    background: #000;
    width: 100%;
    display: none;
  }
}
